# Nuxt dev/build outputs
.output*
!.output-azure
.vercel
.stormkit
.amplify-hosting
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

.yarn
.yalc
yalc.lock

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify

# Sentry Config File
.env.sentry-build-plugin
